{% load static %}
<!--Sobre o clube-->
<div id="about-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="main-title">Sobre o Bufunfa FC</h3>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="{% static 'img/reliquia.jpg' %}" alt="Foto reliquia">
        </div>
        <div class="col-md-6">
          <h3 class="about-title">Um clube que se tornou gigante.</h3>
          <p>O Bufunfa Futebol Clube nasceu humilde.</p>
          <p>Arlindo Caffaggiane e seus amigos de infância o fundaram em 1974.</p>
          <p>Desde então este time virou uma máquina de conquistas.</p> 
          <p>Nosso lema é <strong>Se não for pra ganhar não visto a camisa.</strong></p>
          <ul id="about-list">
            <li><i class="fas fa-check"></i> Grande participação dos patrocinadores.</li>
            <li><i class="fas fa-check"></i> A torcida tem voz ativa.</li>
            <li><i class="fas fa-check"></i> Todos os anos acontece o "Churrascão do Timbal".</li>
            <li><i class="fas fa-check"></i> Priorizamos jogadores da categoria de base.</li>
            <li><i class="fas fa-check"></i> O sócio-torcedor ganha prêmios.</li>
          </ul>
        </div>
      </div>
    </div>
</div>