{% load static %}
<div id="data-area">
    <div class="container">
      <div class="col-12 apply-box" id="trophyparallax-img">
        <div class="row">
          <div class="col-md-3 circle-box">
            <div id="circleA"></div>
            <P>Títulos</P>
          </div>
          <div class="col-md-3 circle-box">
            <div id="circleB"></div>
            <P>Vice Campeonatos</P>
          </div>
          <div class="col-md-3 circle-box">
            <div id="circleC"></div>
            <P>Artilheiros</P>
          </div>
          <div class="col-md-3 circle-box">
            <div id="circleD"></div>
            <P>Torcida Record</P>
          </div>
        </div>
      </div>
    </div>
</div>