{% load static %}
<div id="apply-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 apply-box" style="background-image: url('/static/img/pattern1.jpg');" id="pattern-img">
          <h4>ESCOLINHA BASE</h4>
          <p>
            Adolescentes de 14 a 17 anos poderão se inscrever para o processo. 
            Nosso Instituto Base do Bufunfa é uma fábrica de craques !
            Temos jogadores que começaram aqui e hoje estão no exterior.
          </p>
          <a href="#" onclick="return false;" class="main-btn" id="apply-btn">Saiba Mais</a>
        </div>
      </div>
    </div>
</div>