{% load static %}
<div id="team-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="main-title">Nossa Equipe</h3>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="{% static 'img/profile1.jpg' %}" class="card-img-top" alt="Perfil 1">
            <div class="card-body">
              <h5 class="card-title">Diogo Winchester</h5>
              <p class="card-text">Goleiro</p>
            </div>
          </div>    
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="{% static 'img/profile2.jpg' %}" class="card-img-top" alt="Perfil 2">
            <div class="card-body">
              <h5 class="card-title">Vitor Martinez</h5>
              <p class="card-text">Zagueiro</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="{% static 'img/profile3.jpg' %}" class="card-img-top" alt="Perfil 3">
            <div class="card-body">
              <h5 class="card-title">Bruno Zica</h5>
              <p class="card-text">Zagueiro</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="{% static 'img/profile4.jpg' %}" class="card-img-top" alt="Perfil 4">
            <div class="card-body">
              <h5 class="card-title">Fred Highlander</h5>
              <p class="card-text">Zagueiro</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img src="{% static 'img/profile5.jpg' %}" class="card-img-top" alt="Perfil 1">
            <div class="card-body">
              <h5 class="card-title">Stalin</h5>
              <p class="card-text">Lateral Esquerdo</p>
            </div>
          </div>    
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="{% static 'img/profile6.jpg' %}" class="card-img-top" alt="Perfil 2">
            <div class="card-body">
              <h5 class="card-title">Elton</h5>
              <p class="card-text">Lateral Direito</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="{% static 'img/profile7.jpg' %}" class="card-img-top" alt="Perfil 3">
            <div class="card-body">
              <h5 class="card-title">George Michael</h5>
              <p class="card-text">Meio-Campo</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="{% static 'img/profile8.jpg' %}" class="card-img-top" alt="Perfil 4">
            <div class="card-body">
              <h5 class="card-title">Gilderscley</h5>
              <p class="card-text">Meio-Campo</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img src="{% static 'img/profile9.jpg' %}" class="card-img-top" alt="Perfil 1">
            <div class="card-body">
              <h5 class="card-title">Jaspion Guerreiro</h5>
              <p class="card-text">Atacante</p>
            </div>
          </div>    
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="{% static 'img/profile10.jpg' %}" class="card-img-top" alt="Perfil 2">
            <div class="card-body">
              <h5 class="card-title">Rivelino</h5>
              <p class="card-text">Atacante</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="{% static 'img/profile11.jpg' %}" class="card-img-top" alt="Perfil 3">
            <div class="card-body">
              <h5 class="card-title">Jean Michel</h5>
              <p class="card-text">Atacante</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="{% static 'img/profile12.jpg' %}" class="card-img-top" alt="Perfil 4">
            <div class="card-body">
              <h5 class="card-title">Cesinha do Love</h5>
              <p class="card-text">Técnico</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>