{% load static %}

<div id="services-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="main-title">Títulos</h3>
        </div>
        <div class="col-md-4 service-box">
          <i class="fa fa-trophy" aria-hidden="true"></i>
          <h4>Taça BumbaMeuBoi</h4>
          <p>Campeão 1981-1984</p>
        </div>
        <div class="col-md-4 service-box">
          <i class="fa fa-trophy" aria-hidden="true"></i>
          <h4>Troféu Zacarica</h4>
          <p>Campeão 1982, 1984, 1987, 1989</p>
        </div>
        <div class="col-md-4 service-box">
          <i class="fa fa-trophy" aria-hidden="true"></i>
          <h4>Copa Catira</h4>
          <p>Campeão 1985, 1986, 1991, 1992, 1994, 1996</p>
        </div>
        <div class="col-md-4 service-box">
          <i class="fa fa-trophy" aria-hidden="true"></i>
          <h4>Copa DonaCleuza</h4>
          <p>Campeão 1987, 1989, 1990, 1993</p>
        </div>
        <div class="col-md-4 service-box">
          <i class="fa fa-trophy" aria-hidden="true"></i>
          <h4>Taça Mortadella</h4>
          <p>Campeão 1997, 2000, 2003, 2009, 2012</p>
        </div>
        <div class="col-md-4 service-box">
          <i class="fa fa-trophy" aria-hidden="true"></i>
          <h4>Taça Rua de Cima</h4>
          <p>Campeão 1998, 2001, 2002, 2004, 20015, 2021</p>
        </div>
      </div>
    </div>
  </div>